<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>JavaBeanServlet</display-name>
  <servlet>
    <servlet-name>ComputerSum</servlet-name>
    <servlet-class>com.yourservlet.ComputerSum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComputerSum</servlet-name>
    <url-pattern>/computerSum</url-pattern>
  </servlet-mapping>
</web-app>