<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
    <servlet-name>HandleDatabase</servlet-name>
    <servlet-class>com.yourservlet.HandleDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleDatabase</servlet-name>
    <url-pattern>/handleDatabase</url-pattern>
  </servlet-mapping>
</web-app>